@page
@model IndexModel
@{
    <link rel="stylesheet" href="css/index.css">
    <script src="js/Index.js"></script>
    ViewData["Title"] = "Home page";
}
<div class="contenedor">
    <h1 class="titulo-principal">Opciones de Gestión</h1>

    <div class="fila-cartas">
        <!-- Carta 1 -->
        <div class="carta carta-1">
            <div class="carta-icono">👥</div>
            <h2 class="carta-titulo">Gestión de Empleados</h2>
            <p class="carta-contenido">
                Empleados y su información personal.
            </p>
            <a id="BotonEmpleado" class="carta-boton" onclick='redirectToEmpleados()'>Seleccionar</a>
        </div>

        <!-- Carta 2 -->
        <div class="carta carta-2">
            <div class="carta-icono">🏢</div>
            <h2 class="carta-titulo">Gestión de Departamentos</h2>
            <p class="carta-contenido">
                Agrega, elimina y actualiza departamentos
            </p>
            <a id="BotonDepartamento" class="carta-boton" onclick='redirectToDepartamentos()'>Seleccionar</a>
        </div>

        <!-- Carta 3 -->
        <div class="carta carta-3">
            <div class="carta-icono">👨‍💼</div>
            <h2 class="carta-titulo">Gestionar Encargados</h2>
            <p class="carta-contenido">
                Elige un encargado para el departamento
            </p>
            <a id="BotonEncargado" class="carta-boton" onclick="redirectToEncargados()">Seleccionar</a>
        </div>
    </div>
</div>
